<div class="bg-section"style="background-image: url(assets/page-title-background.jpg)">
    <h2 class="page-title">Nos Valeurs</h2>
  </div>
  <div class="container-fluid"> 
  

    <div class="blog-card ">
      <div class="meta">
        <div class="photo" style="background-image: url(assets/people.jpg)"></div>
      </div>
      <div class="description" >
        <h2>L’équilibre idéal entre les valeurs humaines et entrepreneuriales</h2>
        <p > Nous portons nos engagements au quotidien à travers nos valeurs, dans nos actions, nos décisions, notre communication et dans le développement de l’entreprise car pour réussir ensemble, le savoir-faire n’est rien sans le savoir-être.</p>
      </div>
    </div>
    <div class="col-lg">
      <div class="section-title">
          <p>Nous partagerons tous ensemble 3 principales valeurs essentielles aux développements de Mezzo :</p>
      </div>
  </div>
        <div class="row">
          <div class="service">
            <i class="fa-solid fa-arrow-trend-up"></i>
            <h2>
              L’Engagement Managérial</h2>
    
           
          </div>
          <div class="service">
            <i class="fa-solid fa-handshake"></i>
            <h2>L’intégrité</h2>
          
          </div>
          <div class="service">
            <i class="fa-solid fa-circle-check"></i>
            <h2>L’excellence opérationnelle</h2>
           
          </div>
         
        
        </div>
      </div>


